body {
            font-family: Arial, sans-serif;
            margin: 0;
            background: #a4c8fd;
            color: black;
            width:100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            overflow-x: hidden;
            overflow-y: auto;
            
        }
        h1 {
            text-align: center;
            font-family: 'Montserrat', sans-serif!important;
            font-size: 3rem;
            font-weight: 700;
            letter-spacing: 1px;
            margin-top: 10px;
            
        }
        
        h2 {
            font-family: 'Montserrat', sans-serif !important;
            font-weight: normal;
            margin-bottom: 10px;
            font-size: 2rem;
            font-weight: 500;
            letter-spacing: 1px;
        }
        
       


        .container {
            width: 100%;  
            margin: 0 auto;
            padding: 0 20px;
            max-width: 1200px;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
        }
        

        header{
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0.1em;
            height: 30px; /* o el valor que ocupe tu navbar */
            background-color: none; /* fondo semitransparente */
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1000;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05); /* sombra ligera */
        }


        .form-group {
            display: flex;
            flex-direction: column;
            margin-right: 20px; /* Espaciado entre Ticker y Periodo */
        }
        
        form {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            flex-wrap: wrap;
            width: 100%;
        }
        
        input{
            padding: 8px;
            border-radius: 15px;
            border: 1px solid #1b1b1b;
            cursor: text;
            width:100%;
            box-sizing: border-box;
            transition: all 0.3s ease;
            font-size: 1rem;
            font-weight: 500;
            font-family: Arial, Helvetica, sans-serif;
            
        }
        select {
            padding: 8px;
            border-radius: 15px;
            border: 1px solid #1b1b1b;
            margin-left: 5px;
            cursor: pointer;
            width:100%;
            box-sizing: border-box;
            max-width: 300px;
            transition: all 0.3s ease;
            font-size: 1rem;
            font-weight: 500;
            font-family: Arial, Helvetica, sans-serif;
        }
        
         
        .navbar {
            display: flex;
            align-items: center;
            background-color: rgba(170, 170, 170, 0.4);
            box-shadow: #222;
            padding: 0.1em;
            justify-content: center;
            width: 100%;
            height: 30px;
            position: fixed;
            z-index: 1000;
            top: 0px;
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(3px);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            margin: 0 auto;
        }

        /* Links del navbar */
        .navbar ul {
            list-style: none;
            display: flex;
            gap: 1.5rem;
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', sans-serif !important;
        }


        .navbar li a {
            font-family: 'Montserrat', sans-serif !important;
            color: black;
            font-size: 1em;
            font-weight: 700 ;
            text-decoration: none;
        }

        .nav-item{
            text-decoration: none;
            padding: 8px 16px;
            border-radius: 8px;
            align-items: center;
            justify-content: center;
        }

        .navbar ul li a:hover {
            color: #d08cff;
            transition: color 0.3s ease;
        }


        /*grafico de trading*/
        .chart-container {
            margin-top: 25px;
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            height: 500px; 
            width: 100%;
        }




        /* CONTENEDOR GENERAL DE NOTICIAS Y WIDGET */
        .contenedor-noticias-widget {
            display: flex;
            flex-direction: row;
            gap: 30px;
            align-items: flex-start;
            justify-content: space-between;
            padding: 20px;
            flex-wrap: wrap; /* Para que en mobile se acomoden uno debajo del otro */
        }


        /* NOTICIAS */
        .news-container {
            flex: 2;
            max-width: 90%;
            margin-top: 25px;
            margin-bottom: 50px;
        }


        .news-list li {
            background: rgba(0, 0, 0, 0.9);
            margin: 15px 0;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.4);
            transition: background-color 0.3s ease;
            width: 90%;
            max-width: 100%;
        }

        .news-list li a {
            font-size: 1rem;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif !important;
        }


        .news-list li a:hover {
            text-decoration: none;
            color: #d08cff;
        }

        .titulo-news h2{
            margin-left: 20px;
            margin-top: 30px;
            margin-bottom: 5px;
            font-size: 1.6rem;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            padding-left: 10px;
        }
        /* WIDGET */
        .widget-container {
            flex: 1;
            max-width: 550px;
            width: 100%;
            height: 450px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.4);
            overflow: hidden;
            border-radius: 12px;
            background-color: #121212;
            margin-top: 25px;
            margin-bottom: 50px;
        }

        .tool-button {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 999;
        }

        /* comparador  */
        #comparador {
            max-width: 900px;
            margin: 40px auto;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.9);
            border-radius: 12px;
            box-shadow:  0 4px 15px rgba(0,0,0,0.4);
            font-family: 'Montserrat', sans-serif;
        }

        /* Título */
        #comparador h2 {
            text-align: center;
            margin-bottom: 20px;
            color: white;
            font-weight: 500;
        }

        /* Formulario */
        #comparador form {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            flex-wrap: wrap;
            margin-bottom: 20px;
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-weight: 500;
        }

        #comparador input[type="text"] {
            padding: 10px 14px;
            border: 1px solid #ccc;
            border-radius: 15px;
            font-size: 15px;
            width: 280px;
            font-family: 'Montserrat', sans-serif;
            
        }

        #comparador button {
            padding: 10px 16px;
            background-color: white;
            color: black;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.3s;
        }

        #comparador button:hover {
            background-color: black;
            color: white;
        }

        /* Tabla */
        .tabla-comparador {
            width: 100%;
            border-collapse: collapse;
            border-radius: 8px;
            overflow: hidden;
            background-color: darkgray;
        }

        .tabla-comparador th,
        .tabla-comparador td {
            padding: 12px 14px;
            text-align: center;
            border-bottom: 1px solid #e0e0e0;
        }

        .tabla-comparador thead th {
            background-color: gray;
            font-weight: 600;
            font-size: 14px;
        }


        .tabla-comparador tbody tr:hover {
            background-color: #f1f1f1;
            cursor:pointer;
        }

        /* Botón de eliminar */
        .tabla-comparador a {
            display: inline-block;
            padding: 4px 8px;
            background-color: #e74c3c;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            font-weight: bold;
            transition: background-color 0.2s ease;
        }

        .tabla-comparador a:hover {
            background-color: #c0392b;
        }


        .tool-button {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 999;
        }
        /*__________hero styles_____________*/ 
        .hero {
            height: 100vh;
            color: black;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            display: flex;
            justify-content: center; 
            align-items: center;     
            text-align: center;      
            background: radial-gradient(circle,rgba(217, 135, 255, 1) 0%, rgba(161, 161, 255, 1) 40%, rgba(222, 235, 255, 1) 90%);
            padding: 20px;
            min-height: 100vh;
        }

        .hero-content {
            max-width: 800px;
            margin: auto;
            width: 100%; 
        }

        .hero-title {
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .hero-subtitle {
            font-size: 1.3rem;
            font-weight: 700;
            margin-bottom: 40px;
            color: rgb(32, 32, 32);
        }

        .cta-button {
            background-color: black;
            color: white;
            padding: 14px 28px;
            border: none;
            border-radius: 30px;
            text-decoration: none;
            font-weight: 600;
            font-size: 1.2rem;
            transition: background-color 0.3s ease;
            box-shadow: 0 4px 15px rgba(0,0,0,0.5);
        }

        .cta-button:hover {
            background-color: white;
            color: black; 
        }

        .glass-divider {
            height: 5px;
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(15px);
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }



        ul {
            list-style-type: none;
            padding: 0;
        }
    
        li {
            margin: 10px 0;
            padding: 15px;
            border-radius: 5px;    
        }
        
        li a {
            text-decoration: none;
            color:white;
            font-weight: bold;
        }
        
        li small {
            display: block;
            color: #888;
            margin-top: 5px;
        }


    
        /*footer*/
        .footer {
            display:flex;
            align-items: center;
            background: rgb(126, 162, 205, 0.4);
            padding: 15px 0;
            justify-content: center;
            width: 100%;
            position: static;
            border-top:1px solid #727272;
            margin: 0;
            box-sizing: border-box;
            overflow-x: hidden;
            flex-wrap: wrap;
            margin-top: 100px;
            box-shadow: #222;
        }

        .footer-content {
            display: flex;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
        }

        .footer a {
            font-family: 'Montserrat', sans-serif !important;
            color: black;
            font-size: 1em;
            font-weight: 700 ;
            text-decoration: none;
        }

        .footer a:hover {
            color: #7e3eac;
            transition: color 0.3s ease;
        }



    


      @media (max-width: 500px) {
  
        .hero {
            width: 100%;
            padding: 20px;
        }

        .hero-title {
            font-size: 2.5rem; /* Ajustado para móvil */
        }
  
        .hero-subtitle {
            font-size: 1rem;
            margin-bottom: 30px;
        }

        .cta-button {
            padding: 12px 24px;
            font-size: 0.9rem;
        }

        .switch{
            right: 10px;
            top: 10px;
        }

        form {
            flex-direction: column;
        }

        .chart-container {
            flex-direction: column;
            align-items: center;
        }

        .tool-button {
            top: 10px;
            right: 10px;
        }
      }
        /* sugerencias o autorrelleno*/
        #suggestions {
            position: absolute;
            background-color: rgba(125, 125, 125, 0.6) ;
            border-radius: 15px;
            width: 100%;
            max-height: 200px;
            overflow-y: auto;
            z-index: 999;
            top: 100%;
            left: 0;
            font-size: 14px;
        }

        #suggestions div {
            padding: 8px;
            cursor: pointer;
        }

        #suggestions div:hover {
            background-color: white;
            color: black;
            border-radius: 15px; 
        }


        /* Estilos del Toggle Switch */
        .switch {
            position: fixed;
            top: 0px;
            display: inline-block;
            width: 50px;
            height: 26px;
            z-index: 1000;
            right: 100px;
            margin-top: 5px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(99, 99, 99);
            transition: 0.4s;
            border-radius: 26px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 5px;
            font-size: 12px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
            z-index: 1;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:checked + .slider:before {
            transform: translateX(24px);
        }

      /*_______________________web de contacto__________________________*/
        .contacto-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 50px;
            background-color: rgba(170, 170, 170, 0.4);; 
            border-radius: 20px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.5);
            width: 100%;
            margin-top: 50px; 
        }


        .contacto-container input[type="text"],
        .contacto-container input[type="email"] {
            padding: 10px;
            border: 1px solid #727272;
            border-radius: 7px;
            font-size: 16px;
            box-sizing: border-box;
            margin-bottom: 20px;
            width: 100%; 
            font-size: 15px;
            background: white;
            font-family: 'Montserrat', sans-serif!important;
        }


        .contacto-container textarea {
            padding: 10px;
            border: 1px solid #727272;
            border-radius: 7px;
            font-size: 16px;
            box-sizing: border-box;
            margin-bottom: 20px;
            width: 100%; 
            resize: vertical;
            min-height: 100px;
            font-size: 15px;
            background: white;
        }



        .contacto-container button {
            background-color: black;
            color: white;
            padding: 14px 28px;
            border: none;
            border-radius: 30px;
            text-decoration: none;
            font-weight: 600;
            font-size: 1rem;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            cursor:pointer;
        }

        .contacto-container button:hover {
            background-color: white;
            color: black; 
        }

        .contacto-container h1 {
            text-align: center;
            font-size: 45px;
            color: black;
            margin-bottom: 20px;
            font-family: 'Montserrat', sans-serif!important;
        }

        .contacto-container label {
            display: block;
            font-weight: bold;
            margin-bottom: 2px;
            color: black;
            font-family: 'Montserrat', sans-serif!important;
            font-size: 20px;
        }

        /*___________________________Mensajes del form____________________*/

        .mensajes {
            margin-top: 20px;
        }

        .alerta {
            padding: 15px 20px;
            border-radius: 15px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 15px;
            transition: all 0.4s ease;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        /* Mensajes del form */
        .alerta.success {
            background-color: #d4edda;
            color: #155724;
            border: 1px solid #c3e6cb;
        }


        .alerta.error {
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
        }


        .alerta.warning {
            background-color: #fff3cd;
            color: #856404;
            border: 1px solid #ffeeba;
        }

        .alerta.info {
            background-color: #d1ecf1;
            color: #0c5460;
            border: 1px solid #bee5eb;
        }









        /* ________________🌚 Modo Oscuro________________________-*/
        body.dark-mode {
            background: black;
            color: #f1f1f1;
        }

        body.dark-mode input,
        body.dark-mode select,
        body.dark-mode button {
            background-color: #222;
            color: #f1f1f1;
            border: 1px solid #555;
        }

        body.dark-mode li {
            background-color: rgba(84, 84, 84, 0.7);
            color: #f1f1f1;
        }

        body.dark-mode li a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

        /*_______________________nab-var darkmode__________________________*/
        body.dark-mode .navbar {
            background-color: rgba(84, 84, 84, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
        }

        /* Ítems del navbar en modo oscuro */
        body.dark-mode .nav-item {
            color: white;
            background: none;
            box-shadow: none;
        }
        body.dark-mode .navbar li a {
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-size: 1em;
            font-weight: 700 ;
            text-decoration: none;
        }
        /* Hover en modo oscuro */
        body.dark-mode .navbar ul li a:hover {
            color: #d08cff;
        }

        /*__________________footer dark-mode_________________*/
        body.dark-mode .footer {
            background-color: rgba(84, 84, 84, 0.3);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(3px);
            -webkit-backdrop-filter: blur(3px);
        }

        body.dark-mode .footer-content {
            color: white;
        }

        body.dark-mode .footer a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }

        body.dark-mode .footer a:hover {
            text-decoration: none;
            color: #d08cff
        }

        /*_______________header dark-mode_______________*/
        body.dark-mode .header{
            background: transparent;
        }

        /*_______________________hero dark-mode_______________________---*/
        body.dark-mode .hero{
            background: radial-gradient(circle,rgba(70, 13, 97, 1) 0%, rgba(32, 34, 99, 1) 47%, rgba(0, 0, 0, 1) 90%);
            color:white;
        }

        body.dark-mode .hero-subtitle {
            color: rgb(221, 221, 221);
        }

        body.dark-mode .cta-button {
            background-color: white;
            color:black;
            border-color: white;
        }

        body.dark-mode .cta-button:hover {
            background-color: black;
            color: white;
        }


        /*___________________form darkmode________________-*/

        body.dark-mode .contacto-container {
            background-color: rgba(84, 84, 84, 0.3);
            border:1px solid #727272;
        }

        body.dark-mode .contacto-container input[type="text"] {
            background: rgb(100, 100, 100);
            color: white;
        }

        body.dark-mode .contacto-container input[type="email"] {
            background: rgb(100, 100, 100);
            color: white;
        }


        body.dark-mode .contacto-container textarea {
            background: rgb(100, 100, 100);
            color: white;
        }


        body.dark-mode .contacto-container h1 {
            color:white
        }

        body.dark-mode .contacto-container label {
            color:white;
        }


        body.dark-mode .contacto-container button {
            background-color: white;
            color:black;
            border-color: white;
        }

        body.dark-mode .contacto-container button:hover {
            background-color: black;
            color: white;
        }

        /*_____________________comparador dark-mode__________________*/

        
        body.dark-mode #comparador {
            background-color: rgba(84, 84, 84, 0.7);
            box-shadow:  0 4px 15px rgba(0,0,0,0.4);
        }

        /* Título */
        body.dark-mode #comparador h2 {
            text-align: center;
            color: white
        }

        /* Formulario */
        body.dark-mode #comparador form {
            color: white;
        }

        body.dark-mode #comparador input[type="text"] {
            border: 1px solid #ccc;
        }

        body.dark-mode #comparador button {
            background-color: black;
            color: white;
        }

        body.dark-mode #comparador button:hover {
            background-color: white;
            color: black;
        }
        
        /* tabla por dentro */
        body.dark-mode .tabla-comparador {
            background-color: #303030;
        }

        body.dark-mode .tabla-comparador th,
        body.dark-mode .tabla-comparador td {
            border-bottom: 1px solid #e0e0e0;
        }

        body.dark-mode .tabla-comparador thead th {
            background-color: #222;
        }


        body.dark-mode .tabla-comparador tbody tr:hover {
            background-color: #3f3f3f;
            cursor:pointer;
        }